* text=auto
*.css linguist-vendored
*.scss linguist-vendored
*.html linguist-vendored
*.html linguist-detectable=false
*.css linguist-detectable=false
public/* linguist-vendored
viwes/* linguist-vendored

