<!Doctype html>
<html lang="fa">
<head>
    <title>{{title}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/inst_page.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/util.css">
    <style>
        .left, .right {
            float: left;
            width: 20%; /* The width is 20%, by default */
        }

        .main {
            float: left;
            width: 60%; /* The width is 60%, by default */
        }

        /* Use a media query to add a breakpoint at 800px: */
        @media screen and (max-width: 800px) {
            .left, .main, .right {
                width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
            }
        }
    </style>


</head>
<body>
<div class="wrap-main">
    <p align="center" class="welcome">دانشجوی گرامی "{{name}}" خوش آمدید.</p>
    <div align="center" class="wrap">
        <textarea class="txtarea" lang="fa" id="comment_body" form="comment" name="comment_body"
                  rows="5" cols="33" placeholder="نظر خود را وارد کنید ..." required></textarea>
        <form name="comment" id="comment" action="/comment" method="post" enctype="multipart/form-data">
            <button class="btn" type="submit">ارسال</button>
            <div class="text-center p-t-40">
                <a class="txt2" href="/">
                    بازگشت به صفحه اصلی
                    <i class="fa fa-long-arrow-left m-l-5" aria-hidden="true"></i>
                </a>
            </div>
        </form>

    </div>
</div>
</body>

</html>