<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="css/util.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>

<body>
<div class="header">
    <ul>
        <li>
            <a class="header_txt" href="/login">
                صفحه ورود
            </a>
        </li>
        <li>
            <a class="header_txt" href="/">
                نمایش تمام مطالب
            </a>
        </li>
    </ul>
</div>
</body>

</html>