<!Doctype html>
<html lang="fa">
<head>
    <title>{{title}}</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/post.css">


</head>
<body>
<div class="wrap-main">

    <div align="center" class="wrap">

        <label lang="fa" for="post_body">متن مورد نظر:</label>
        <textarea lang="fa" id="post_body" form="post" name="post_body"
                  rows="5" cols="33">...</textarea>

        <form name="post" id="post" action="/post" method="post" enctype="multipart/form-data">
            <input class="custom-file-input" type="file" name="post_file" /><br>
            <button class="btn" type="submit">ارسال</button>
        </form>

    </div>
</div>
</body>

</html>