<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="css/home.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
<div class="header">
    <ul>
        <li>
            <a class="header_txt" href="/">
                نمایش تمام مطالب
            </a>
        </li>
    </ul>
</div>

<div class="row">
    <div class="column">
        <div class="card">
            <h2>{{author01}}</h2>
            <p>{{body01}}</p>
            <script>
            </script>

        </div>
        <div class="card">
            <h2>{{author02}}</h2>
            <p>{{body02}}</p>
            <script>
            </script>

        </div>
        <div class="card">
            <h2>{{author03}}</h2>
            <p>{{body03}}</p>
            <script>
            </script>

        </div>
    </div>
</div>
</body>

</html>