<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <form action="" onsubmit="submitForm(event)">
        <input type="text" name="test">
        <button type="submit" onclick="sendReq1()">ارسال 1</button>
        <button type="submit" onclick="sendReq2()">ارسال 2</button>
    </form>

    <script src="/js/axios.min.js"></script>
    <script>
        function submitForm(e) {
            e.preventDefault()
        }

        function sendReq1() {
            axios.get("/btn1").then(res => console.log(res))
        }

        function sendReq2() {
            axios.get("/btn2").then(res => console.log(res))
        }
    </script>
</body>

</html>